<!-- footer section start -->
<footer >
    <img src="/images/app-store.svg">
    <img src="/images/google-play.svg">
      <br>
    
      <br>
    
    <span>Created By <a href="">Bionic Intel company  </a> All rights reserved.| <span class="far fa-copyright"></span> 2021</span>
        </footer>
       <!-- End Footer -->
<script src="/js/bootstrap.min.js"></script>
<script src="/script.js"></script>


</body>
</html>