<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>

    <!-- home section start -->
    <section class="home" id="home">
      <div class="max-width">
          <div class="row">
            <div class="home-content">
                <div class="text-2">Le Taxi Marocain avec une touche d’innovation</div>   
                <br>             
                <div class="text-1"> <span style=" text-decoration : 4px underline;font-weight: bold;   text-decoration-color:#ff4460">CHICO </span> propose à ses utilisateurs d’acheter une carte d’abonnement rechargeable qu’ils peuvent utiliser pour payer le chauffeur de taxi au lieu d’utiliser de l’argent, ou leur carte bancaire.</div>
<br>
               <img style="width:30%; " src="images/app-store-button.png" ><img style="width:33%; " src="images/google-play-button.png" >
               
            </div>
          </div>
      </div>
    </section>

    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">A Propos de Nous</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="images/WhatsApp-Image-2021-03-28-at-17.23.24-1024x836.png" alt="">
                </div>
                <div class="column right">
                   
                    <p>
                        En Mars 2021, 3 Jeunes innovants ont remarqué que les chauffeurs de taxi au Maroc souffraient d’un problème de monnaie.
                        
                        Ils ont donc lancé Chico, ils ont permis aux utilisateurs de cette application mobile de commander un taxi dans l’application, de payer avec leur carte bancaire ou en espèces et d’envoyer de l’argent à d’autres utilisateurs de Chico.</p>
                    <div class="text">Pourquoi <span class="typing-2"></span></div> <p>Vous demandez peut-être quelle est la nouveauté dans Chico, Chico propose à ses utilisateurs d’acheter une carte d’abonnement rechargeable qu’ils peuvent utiliser pour payer le chauffeur de taxi au lieu d’utiliser de l’argent, ou leur carte bancaire.</p>
                        <a href="#">Voir plus</a>
                </div>
            </div>
        </div>
    </section>

    <!-- securite section start -->
    <section class="securite" id="securite">
        <div class="max-width">
            <h2 class="title">Votre Securite</h2>
            <div class="sec-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-lock"></i>
                        <div class="text"></div>
                        <p>Nous travaillons à faire de Chico le moyen le plus sûr de se déplacer dans notre région. Nous faisons cela en tirant parti des dernières technologies de sécurité et en garantissant un processus d'intégration et de formation rigoureux pour nos chauffeurs. Vous pouvez également suivre votre trajet et nous contacter à tout moment, 24h / 24 et 7j / 7.</p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
 <!-- Start mesure de securite pour les clients -->
 <section class="py-5 mb-5">
    <div class="container">
        <div class="mesure-securite-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Mesures de securite pour les clients</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">

           <!-- Start SOCIAL MEDIA -->
           <div class="col-md-4 mb-3">
            <a href="#" class="mesure-securite card border-0 shadow-lg overflow-hidden">
                <img class="mesure-securite-img card-img" src="./assets/img/recent-work-01.jpg" alt="Card image">
                <div class="mesure-securite-vertical card-img-overlay d-flex align-items-end">
                    <div class="mesure-securite-content text-start mb-3 ml-3 text-dark">
                        <h3 class="card-title light-300">Social Media</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id tempore enim architecto nostrum aperiam deserunt autem aliquid cupiditate commodi.</p>
                    </div>
                </div>
            </a>
        </div><!-- End SOCIAL MEDIA -->

        <!-- Start WEB MARKETING -->
        <div class="col-md-4 mb-3">
            <a href="#" class="mesure-securite card border-0 shadow-lg overflow-hidden">
                <img class="mesure-securite-img card-img" src="./assets/img/recent-work-02.jpg" alt="Card image">
                <div class="mesure-securite-vertical card-img-overlay d-flex align-items-end">
                    <div class="mesure-securite-content text-start mb-3 ml-3 text-dark">
                        <h3 class="card-title light-300">Web Marketing</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </a>
        </div><!-- End WEB MARKETING-->
        
        <!-- Start R&D -->
        <div class="col-md-4 mb-3">
            <a href="#" class="mesure-securite card border-0 shadow-lg overflow-hidden">
                <img class="mesure-securite-img card-img" src="./assets/img/recent-work-03.jpg" alt="Card image">
                <div class="mesure-securite-vertical card-img-overlay d-flex align-items-end">
                    <div class="mesure-securite-content text-start mb-3 ml-3 text-dark">
                        <h3 class="card-title light-300">R & D</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </a>
        </div><!-- End R&D -->
        <!-- end mesure de securite pour les clients -->
    
        <!-- Start mesure de securite pour les chauffeurs -->
        </div>
    </div>
    <div class="container">
        <div class="mesure-securite-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Mesures de securite pour les chauffeurs</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">

            <!-- Start SOCIAL MEDIA-->
            <div class="col-md-4 mb-3">
                <a href="#" class="mesure-securite card border-0 shadow-lg overflow-hidden">
                    <img class="mesure-securite-img card-img" src="./assets/img/recent-work-01.jpg" alt="Card image">
                    <div class="mesure-securite-vertical card-img-overlay d-flex align-items-end">
                        <div class="mesure-securite-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Social Media</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id tempore enim architecto nostrum aperiam deserunt autem aliquid cupiditate commodi.</p>
                        </div>
                    </div>
                </a>
            </div><!-- End SOCIAL MEDIA -->

            <!-- Start WEB MARKETING -->
            <div class="col-md-4 mb-3">
                <a href="#" class="mesure-securite card border-0 shadow-lg overflow-hidden">
                    <img class="mesure-securite-img card-img" src="./assets/img/recent-work-02.jpg" alt="Card image">
                    <div class="mesure-securite-vertical card-img-overlay d-flex align-items-end">
                        <div class="mesure-securite-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Web Marketing</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </a>
            </div><!-- End WEB MARKETING -->
            
            <!-- Start R&D -->
            <div class="col-md-4 mb-3">
                <a href="#" class="mesure-securite card border-0 shadow-lg overflow-hidden">
                    <img class="mesure-securite-img card-img" src="./assets/img/recent-work-03.jpg" alt="Card image">
                    <div class="mesure-securite-vertical card-img-overlay d-flex align-items-end">
                        <div class="mesure-securite-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">R & D</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </a>
            </div><!-- End r&d -->
            
    <!-- Start mesure de securite pour les chauffeures -->

        </div>
    </div>
</section>
<!-- End mesure de securite-->

    <!-- cartes section start -->
    <section class="cartes" id="cartes">
        <div class="max-width">
            <h2 class="title">Nos Cartes</h2>
            <div class="cartes-content">
                <div class="column left">
                    <div class="text">- Nos cartes d'abonnement sont rechargeables et varient entre 50 Dhs et 1000 Dhs.
                    <br>- Nos clients peuvent payer le chauffeur de taxi avec le code QR sur la carte.</div>
                    <a href="#">Cliquez ici</a>
                </div>

            </div>
        </div>
    </section>

    <!-- teams section start -->
    <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title"></h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="images/ICON-1-150x150.png" alt="">
                        <div class="text"> La Carte d'abonnement</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/ICON-2-1-150x150.png" alt="">
                        <div class="text">Localisation et Reservation</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/ICON-3-150x150.png" alt="">
                        <div class="text">Pas de Cash Necessaire</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/ICON-4-150x150.png" alt="">
                        <div class="text">Vous pouvez recharger la carte</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/ICON-5-1-150x150.jpg" alt="">
                        <div class="text">Envoyer du credit a vos amis</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contactez nous</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">CONTACT INFO  </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum corporis fuga corrupti. Doloribus quis soluta nesciunt veritatis vitae nobis?</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Nom</div>
                                <div class="sub-title">Bionic intel</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="sub-title">Tanger, Maroc</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">bionic@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="text"></div>
                    <form class="contact-form" action="#" method="POST">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" class="fullname" placeholder="Nom">
                            </div>
                            <div class="field email">
                                <input type="text" class="email-input" placeholder="Prénom">
                            </div>
                        </div>
                       
                        <div class="fields">
                            <div class="field name">
                                <input type="text" class="fullname" placeholder="Email">
                            </div>
                            <div class="field email">
                                <input type="text" class="email-input" placeholder="Numéro">
                            </div>
                        </div>
                        <div class="field textarea">
                            <textarea class="message" cols="30" rows="10" placeholder="Message.."></textarea>
                        </div>
                        <div class="button-area">
                            <button class="send-msg" type="submit" name="send">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
 



<%- include('partials/footer.ejs') %>